[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
astroid = "*"

[packages]
importlib-metadata = "~=1.7.0"
requests = "*"
flask = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
